@font-face {
    font-family: 'Proxima Nova';
    font-display: auto;
    src: url('././UserContent/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('https://fonts.googleapis.com/css?family=Lato:400,700,900') format('truetype');
}