@import 'variables';

/*----------------------------------------------*/
/*                  Base Settings               */
/*----------------------------------------------*/

html,
body {
    padding: 0;
}


iframe {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

#group_main,
#group_Header #PH_Menu>* {
    @media @mobile {
        width: 100%;
        float: inherit;
    }
}

.screen-content {
    margin-top      : 100px;
    max-width       : 1400px;
    padding         : 0 5%;

    @media @desktop-large {
        padding: 0;
    }
}

/* Header */
body,
#group_Header-fixed {
    max-width       : 100%;
    width           : 100%;
    box-shadow      : none !important;

    @media @mobile {
        padding-left : 0% !important;
        padding-right: 0% !important;
    }
}

#group_Header-fixed.primary #PH_logo,
#group_Header-fixed.primary #PH_Main_Menu,
#group_Header-fixed.primary #PH_Search_Box {
    @media @desktop {
        display: none;
    }
}

.header-menu {
    @media @desktop {
        display: flex;
    }
}

#siteMenuBar #CountDown.active .timer-tooltip {
    @media @mobile {
        top  : 1.05rem !important;
        right: 34% !important;
    }
}

#siteMenuBar #CountDown.active {
    @media @mobile {
        right: -15%;
    }
}

.siteMenuContainer button#navMenu_Float_login_item {
    display: none;
}

.account button {
    background-color: transparent;
}

div#PH_header-container {
    display: block;
    width  : 100%;
}

div#PH_Float_Menu {
    @media @mobile {
        position: absolute;
    }
}

#siteMenuBar #my_basket.active {
    right      : 33%;
    width      : 33%;
    height     : 35px;
    padding-top: 0;

    @media @desktop {
        right: 157%;
    }
}

#siteMenuBar #my_basket>span:before,
#siteMenuBar [id='my basket']>span:before {
    color: transparent;
}

#siteMenuBar #my_basket>span,
#siteMenuBar [id='my basket']>span {
    left: 58px;
}

#group_Header-fixed #PH_Search_Box {
    width : 33%;
    height: 35px;
}

#group_Header-fixed FORM.frmSearch .SearchTextButton:before {
    color: transparent;
}

.bottom-menu {
    padding-top : 6px;
    padding-left: 3%;

    @media @mobile {
        padding-left: 5%;
    }
}

#group_Header-fixed:not(.searchPageOpen) .ph_search_box FORM.frmSearch .SearchBoxContainer .SearchTextButton {
    border-style: none;
    width       : 100%;
    left        : 0px;
}

/* Footer */
#group_Footer {
    background-color: #fff;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer {
    background-color: #fff;
    box-shadow      : none !important;
}

/* Breadcrumbs */
.ph_tunnellocation .step,
.ph_tunnellocation .innerpath {
    display: none !important;
}

.ph_tunnellocation {
    background-image: none !important;
}

.crumb {
    display       : inline-block;
    text-align    : left;
    vertical-align: middle;
}

.breadcrumbs {
    display     : block;
    width       : 100%;
    padding-left: 0;

    @media @mobile {
        padding-left: 5%;
        font-size   : 13px;
    }
}

div#PH_breadcrumbs {
    margin-top: 85px;
    width     : 100%;
    display   : block;

    @media @mobile {
        margin-top: 85px;
    }
}

.crumb.step-one:after,
.crumb.step-two:after,
.crumb.step-three:after {
    content: '/';
    margin : 0 10px;
}

/* Promo Box */
.promoBox:before {
    display: none !important;
}

.promoBox {
    border: none !important;
}

#navMenu_Float_Join_item {
    visibility: hidden;
}

.qtip.timer-tooltip {
    padding         : 0 20px;
    display         : inline-flex;
    height          : 50px;
    align-items     : center;
    font-size       : 16px;
    font-weight     : 600;
    background-color: #fff !important;
    border          : none !important;
}

#siteMenuBar #CountDown .CountDownRemainingTimeTitle {
    display    : inline-block;
    font-size  : 16px;
    font-weight: 600;
}

#siteMenuBar.hasclient #CountDown .CountDownRemainingTimeTitle {
    padding-left: 124px;
}

#siteMenuBar #CountDown {
    text-align: left;
    right     : -13% !important;
    top       : 31px !important;
    width     : 250px;
    background: #fff;
}

#siteMenuBar.hasclient #CountDown {
    right: -20% !important;
}

button.CancelTransFromTimer.btnCancel.btnLink {
    display: none;
}

.siteMenuContainer>*:last-child:after,
.siteMenuContainer>*:after,
#siteMenuBar.hasclient #customerBox:after {
    content: none;
}

#siteMenuBar #CountDown.active .timer-tooltip {
    visibility: hidden !important;
}

.timerMessage {
    background-color: transparent !important;
    color           : #404041 !important;
}

#PH_BasketWidget .button.small_button_a a {
    border-bottom: none;
    font-size    : 16px;
}

#PH_BasketWidget div.footer {
    background-image: none;
}

#PH_BasketWidget {
    background: none;
    border    : none;
    box-shadow: none;
}

#PH_BasketWidget>div {
    border: 1px solid;
}

.qtip.timer-tooltip {
    display: none;
}

.timer-tooltip.qtip {
    max-width: 290px;
}

/* Footer */

#group_Footer {
    color           : #fff;
    box-sizing      : content-box;
}

div#PH_Footer-main {
    padding : 5%;
    width   : 100%;
    position: relative;

    a,
    button.btnLink {
        color          : #fff;
        text-decoration: none;
    }
}

.flm_CountDown .qtip-content {
    position: relative;
    top     : 2px;
    left    : 128px;
    overflow: visible;
}

.flm_CountDown .qtip-content {
    position: static;
    padding : 8px 0 0 4px !important;
}

#siteMenuBar.hasclient #customerBox {
    visibility: hidden;
}

#siteMenuBar #my_basket .basketQtyHolder,
#siteMenuBar[id='my basket'] .basketQtyHolder {
    background: #000;
    left      : -118px;
    color     : white;
    position  : relative;
}

#siteMenuBar.hasclient #my_basket .basketQtyHolder, #siteMenuBar[id='my basket'] .basketQtyHolder {
    left: 0;
}

#siteMenuBar.hasclient #my_basket>span, #siteMenuBar [id='my basket']>span {
    left: -14px;
}

#siteMenuBar #CountDown .timerText {
    visibility: hidden !important;
}

div#PH_Video {
    display: none;
}

.qtip-content {
    overflow: visible!important;
}

.qtip.venueImageHint:before {
    content: none;
    background: transparent;
    color: transparent;
    display: none;
}

.qtip.venueImageHint {
    display: none;
}

#PH_BasketWidget .basketItem {
    padding-right: 0;
}