@import 'variables';

.loginOrRegisterWizard .loginControl>DIV.external {
    display: none;
}

.linkToAlternative button:before, .linkToAlternative button::after {
    box-shadow: none;
}

.loginOrRegisterWizard .linkToAlternative>button {
    border-radius: 0;
}