@import 'variables';
@import '../master-template/Event4';

body {

    background: none;
    background-color: @background-color;
}

div#PH_breadcrumbs {

    margin: 110px auto 0 5%;

    @media @mobile {

        margin: 175px auto 15px 5%;
    }
}

.breadcrumbs {
    padding-left: 0;
}

// Seat Plan Shape

.seat.a, .seat.o, .seat.c {

    border-radius: 50%;
}



.eventInfoSection .imageContainer {
    display: none;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed > a {

    color: #FFFFFF;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed.disabled > a {

    color: #858585;
}


#eventPage.non-seated #content #instructions,
#eventPage.seated #ticketsPane, #eventPage.non-seated #ticketsPane,
#eventPage.seated #leftPane, #eventPage.non-seated #leftPane {

    margin-top: 55px !important;
}

.ExtendedData3 {
    margin-top: 10px;
    font-weight: bold;
}