@import 'variables';
@import '../master-template/ShowDetails';



#eventslist {

    @media @desktop {

        margin-top: -20px;
    }
}




.pagingDataContainer .dataItem,
.ShowEventsitemsList .dataItem {
    background-color: @box-bgcolor;
}

.pagingDataContainer .itemsDataContainer,
.pagingDataContainer .itemsDateRange,
.ShowEventsitemsList .itemsDataContainer,
.ShowEventsitemsList .itemsDateRange {
    color: @font-dark-color;
}

.pagingDataContainer .itemsDateRange SPAN,
.ShowEventsitemsList .itemsDateRange SPAN {

    color: @button-color;
}





.carousel .itemsDataContainer::before {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-back.svg);
}

.carousel .itemsDataContainer::after {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-front.svg);
}

.carousel .itemsDataContainer::after,
.carousel .itemsDataContainer::before {
    width             : 100px;
    content           : "";
    height            : 130px;
    position          : absolute;
    bottom            : 10px;
    right             : 10px;
    background-size   : contain;
    background-repeat : no-repeat;
    opacity           : 0.1;
    z-index           : 1;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition   : all 250ms ease-in-out;
    -ms-transition    : all 250ms ease-in-out;
    -o-transition     : all 250ms ease-in-out;
    transition        : all 250ms ease-in-out;
}

.carousel .itemsDataContainer::after,
.carousel .itemsDataContainer::before {
    opacity: 1;
}


.ui-state-default,
.ui-widget-content .ui-state-default {

    background-color: @button-color;
    color           : #FFFFFF;
}

.ui-widget-content .ui-datepicker-today .ui-state-default {

    background-color: @button-hover-color;
    color           : #FFFFFF;
}





.itemsListMore { display: none; }

.itemsDataContainer { display: none; }

.ShowEventsitemsList .dataItem .extras .occupancy, 
.pagingDataContainer .dataItem .extras .occupancy {

    display: block;

}






// timed events code

.pagingDataContainer .dataItem, 
.ShowEventsitemsList .dataItem {

    float: left;
    margin: 2px;
    padding: 6px 4px 6px 10px;
    min-height: unset;
    width: unset;
    max-width: 23%;
    font-size: 14px;
    line-height: 1.3em;

    @media @desktop {

        max-width: 23%;
    }

    @media @desktop-large {

        max-width: 24%;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #B2B1B1;
    }

}

.item_background {
    padding: 5px;
}

.ShowEventsitemsList .itemsDataContainer, 
.pagingDataContainer .itemsDataContainer {

    width: 100%;
}

.ShowEventsitemsList .dataItem .extras, 
.pagingDataContainer .dataItem .extras,
.ShowEventsitemsList .itemsDataContainer .name, 
.pagingDataContainer .itemsDataContainer .name {
    display: none;
}

.pagingDataContainer .itemsDateRange, 
.ShowEventsitemsList .itemsDateRange {

    display: inline-block;
    width: 100%;
}



.occupancy {

    padding-left: 0;
    margin: 0 0 4px 0;
    display: table-cell;
    height: unset;
    background: none;

    display: none;
}
/*
.occupancy::before {

    content: "";
    display: inline-block;
    top: 6px;
    position: relative;

    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 6px;
    margin-top: 0;
}

.HighSeatsOccupancy::before {
    background-color: #B81820;
}

.MediumSeatsOccupancy::before {
    background-color: #F7BD11;
}

.LowSeatsOccupation::before {
    background-color: #479233;
}

.SoldOut::before {
    background-color: #DDDDDD;
}

*/


.pagingDataContainer .itemsDateRange > div, 
.ShowEventsitemsList .itemsDateRange > div, 
.pagingDataContainer .itemsDateRange > span,
.ShowEventsitemsList .itemsDateRange > span {
    display: inline-block;
    margin-right: 5px;
}

#eventslist .itemsButtonsContainer {

    max-height: unset;
    width: 100% !important;
    min-width: unset;
    right: 0;
    top: 0;
    position: absolute;
    margin: 0;
    height: 100%;
    padding: 0;
    z-index: 10;
}

#eventslist .itemsButtonsContainer .button {
    width: 100%;
    height: 100%;
}

.button.small_button_a.addToBasket {

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
        width: 100%;
        height: 100%;
    }
}

.ShowEventsitemsList .button.small_button_a A, 
.pagingDataContainer .button.small_button_a A {

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
        width: 100%;
        opacity: 0;
        padding: 0;
        height: 100%;
        transition: none;
        transform: unset;
    }

}


.dataItem::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}


.dataItem.high-seats::before {

    border-color: #B81820 transparent transparent transparent;
}

.dataItem.medium-seats::before {

    border-color: #F7BD11 transparent transparent transparent;
}

.dataItem.low-seats::before {

    border-color: #479233 transparent transparent transparent;
}

.dataItem.sold-out::before {

    border-color: #000000 transparent transparent transparent;
}



