@import './../master-template.css/settings';
@import 'custom';

.promoBox {
    @media @desktop {
        margin-top: -60px;
    }
}


.hallMap form.promoBox {
    @media @desktop {
        top: 159px;
        text-align: left;
    }
}
