@import 'variables';
@import '../master-template/RecommendedShows';

ul,
li {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

img {
    height   : auto !important;
    max-width: 100%;
}

#group_0 {
    display: block !important;
    width  : 100% !important;
    float  : left !important;
}

#group_main {
    width      : 100% !important;
    float      : left !important;
    padding-top: 80px;
}

#group_left {
    display: none !important;
}








.dataItem .name {
    color           : #fff;
    font-weight     : bold;
    background-color: transparent;
    font-size       : 22px;
    text-align      : left;

}

div#PH_breadcrumbs {
    display: none;
}

.itemsDataContainer::before {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-back.svg);
}

.itemsDataContainer::after {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-front.svg);
}

.itemsDataContainer::after,
.itemsDataContainer::before {
    width             : 65px;
    content           : "";
    height            : 80px;
    position          : absolute;
    top               : 5px;
    right             : 15px;
    background-size   : contain;
    background-repeat : no-repeat;
    opacity           : 1;
    z-index           : 1;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition   : all 250ms ease-in-out;
    -ms-transition    : all 250ms ease-in-out;
    -o-transition     : all 250ms ease-in-out;
    transition        : all 250ms ease-in-out;

}



.recommendedShows.showslist:not(.searchResult) .itemsList .dataItem .itemsButtonsContainer {
    display: none;
}

.dataItem .item_image IMG {
    height: auto;
    width : 100%;

    -webkit-transform: scale(1.05);
    -moz-transform   : scale(1.05);
    -ms-transform    : scale(1.05);
    -o-transform     : scale(1.05);
    transform        : scale(1.05);
}

.itemsList .dataItem {

    background-color  : #2A2D34;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition   : all 250ms ease-in-out;
    -ms-transition    : all 250ms ease-in-out;
    -o-transition     : all 250ms ease-in-out;
    transition        : all 250ms ease-in-out;

    &:hover {
        -webkit-transform : translateY(-10px);
        -moz-transform    : translateY(-10px);
        -ms-transform     : translateY(-10px);
        -o-transform      : translateY(-10px);
        transform         : translateY(-10px);
        -webkit-transform : scale(1.03);
        -moz-transform    : scale(1.03);
        -ms-transform     : scale(1.03);
        -o-transform      : scale(1.03);
        transform         : scale(1.03);
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow   : 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow    : 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        -o-box-shadow     : 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow        : 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }

    @media @mobile {
        width : 100% !important;
        margin: 0 0 40px 0 !important
    }
}



.recommendedShows.showslist:not(.searchResult) .itemsList .dataItem .itemsDateRange:before {
    content: none;
}


















div#PH_breadcrumbs {
    display: none;
}

.largeImageContainer {
    max-height : unset !important;
    overflow   : unset !important;
    padding-top: 70px !important;
}

.genresContainer {
    display      : block !important;
    position     : relative !important;
    top          : -40px !important;
    text-align   : right !important;
    margin-bottom: 0px !important;
}

.container,
.screen-content {
    margin : 0px auto !important;
    display: block !important;
}

@media (min-width: 768px) {

    .container,
    .screen-content {
        max-width: 98% !important;
    }
}

@media (min-width: 992px) {

    .container,
    .screen-content {
        max-width: 970px !important;
    }
}

@media (min-width: 1200px) {

    .container,
    .screen-content {
        max-width: 1170px !important;
    }
}

@media (min-width: 1430px) {

    .container,
    .screen-content {
        max-width: 1400px !important;
    }
}

.template-TemplateFull .screen-content,
.template-TemplateFull .ph_galleria {
    float: initial;
    clear: initial;
}

FORM.frmSearch .SearchBoxContainer {
    width: 97%;
    height: 50px;
}

FORM.frmSearch INPUT[type=text] {
    color: #3f3f3f !important;
    width: 96%;
    margin-left: 62px;
    margin-top: 1px;
}

FORM.frmSearch .SearchTextBox {
    width: 90%;
}