//@import './UserContent/css/master-template.css/settings.less';

@main-font : 'Roboto',sans-serif;
@header-font : "Roboto Condensed",Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif;

@button-color           : #009DDC;
@button-hover-color     : #008BC3;

.action-button() {
    .font-button();
    width           : @button-desktop-width;
    background-image: none;
    text-decoration : none;
    padding         : @button-desktop-padding;
    border          : 1px solid @button-color;
    background-color: @button-color;
    cursor          : pointer;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition   : all 300ms ease-in-out;
    -o-transition     : all 300ms ease-in-out;
    transition        : all 300ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
        .font-button();
        width             : @button-desktop-width;
        background-image  : none;
        text-decoration   : none;
        padding           : @button-desktop-padding;
        background-color  : @button-hover-color;
        color             : @button-font-hover-color;
        border-color      : @button-font-hover-color;
        border-bottom     : 1px solid;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition   : all 0.5s ease-in-out;
        -o-transition     : all 0.5s ease-in-out;
        transition        : all 0.5s ease-in-out;
        -webkit-transform : scale(1.05);
        -moz-transform    : scale(1.05);
        -ms-transform     : scale(1.05);
        -o-transform      : scale(1.05);
        transform         : scale(1.05);
        outline-width     : 0;
    }
}