
@import (reference) '../testing/settings.less';
@import (reference) 'settings';

body {
    margin-top: 0;
}

.screen-content {
    margin-top: 128px;
}

.genresContainer {
    display: none !important;
}

.carousel .itemsList .dataItem .itemsDateRange {
    color      : @button-color;
}

.ShowEventsitemsList .button.small_button_a A {
    .action-button();
    padding       : 5px 15px;
    letter-spacing: 0.15px;

    &:hover,
    &:active,
    &:focus {
        padding       : 5px 15px;
        letter-spacing: 0.15px;
    }
}

.ShowEventsitemsList .itemsDateRange {
    color: @button-color;
}