@import './../master-template.css/settings';
@import 'custom';

body {
    margin-top: 0;
}

.screen-content {
    margin-top: 128px;
}


.genresContainer {
    display: none !important;
}

.carousel .itemsList .dataItem .itemsDateRange {
    color      : @button-color;
}