@import 'variables';
@import '../master-template/Event4';

body {

    background: none;
    background-color: @background-color;
}

// Seat Plan Shape

.seat.a, .seat.o, .seat.c {

    border-radius: 50%;
}

.seat-tooltip .seat.number,
.seat-tooltip .row.number,
.seat-tooltip .label {

    display: none;
} 

.selectTickets .row .seat {

    display: none;
}

#eventPage .selectTickets .tickets > .row {
    padding: .3em .5em .5em 2em;
}



div#PH_breadcrumbs {

    margin: 110px auto 0 5%;

    @media @mobile {

        margin: 150px auto 15px 5%;
    }
}

.breadcrumbs {
    padding-left: 0;
}

.eventInfoSection .imageContainer {
    display: none;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed > a {

    color: #FFFFFF;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed.disabled > a {

    color: #858585;
}


