@import 'variables';
@import '../master-template/Event4';

body {

    background: none;
    background-color: @background-color;
}

// Seat Plan Shape

.seat.a, .seat.o, .seat.c {

    border-radius: 50%;
}

.seat-tooltip .row.label,
.seat-tooltip .seat.label,
.seat-tooltip .seat.number,
.seat-tooltip .row.number::after {

    display: none;
} 

.selectTickets .row .seat .rowName,
.selectTickets .row .seat .seatName,
.selectTickets .row .seat > span.rowName + span::after {

    display:none;
}

.selectTickets .row .seat span:last-of-type {

    display: none;
}

.seat-tooltip .row.number::before,
.selectTickets .row .seat::before {
    content: "Table ";
    display: inline-block;
}
.seat-tooltip .row.number::before {

    margin-right: 2px;
}



//#eventPage .selectTickets .tickets > .row {
//    padding: .3em .5em .5em 2em;
//}



div#PH_breadcrumbs {

    margin: 110px auto 0 5%;

    @media @mobile {

        margin: 150px auto 15px 5%;
    }
}

.breadcrumbs {
    padding-left: 0;
}

.eventInfoSection .imageContainer {
    display: none;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed > a {

    color: #FFFFFF;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed.disabled > a {

    color: #858585;
}


