@import 'variables';
@import '../master-template/ShowDetails';


.carousel.recommendedShows {

    display: none;
}

.screen-content {

    background-color: #FFF;
    margin-bottom: 25px;

    @media @desktop {
    
        margin-top:unset;
    }

    @media @mobile {
    
        margin-top:unset;
        padding: 20px;
    }
    
}



.screen-content::after,
.screen-content::before {

    background: url('/UserContent/images/DayOutWithThomas/site/2020/hr-rail2.png') repeat-x;    
    content: "";
    display: block;
    width: 100%;
    height: 30px;   
}

.screen-content::after {

    background-position: bottom;
}




/*

body #group_Header-fixed, #group_Header-fixed {

    height: 40px;
    max-height: 40px;

    @media @mobile {

        height: 150px;
        max-height: 150px;
    }

}

body #group_Header-fixed .main-logo, #group_Header-fixed .main-logo {



    @media @mobile {

        display: block;

        max-width: 145px;
    }
}

*/



#PH_showdetails-banner {

    background-image: url('/UserContent/images/DayOutWithThomas/site/2020/header-bg-2020b.jpg'); 
    background-repeat: no-repeat;
    
    min-height: 100px;
    margin: 0 auto 0 auto;
    padding: 0 25px;
    overflow: hidden;
    margin-bottom: -2px;

    @media @desktop {

        max-width: 1400px;
        background-size: cover;

    }

    @media @desktop-large {

        background-size: 100% auto;
        background-position: top -30px left 0px;
    }

    @media @mobile {

        background: none;
    }
    
    
}

#PH_showdetails-banner .dowt-logo {

    display:block;
    float:left;
    
    width: 33%;
    position:relative;

    @media @mobile {

        display: none;
    }
}
    

#PH_showdetails-banner .main-logo {

    display: block;
    text-align: left;
    padding: 0px;
    margin: 45px 0px 50px 0px;
    width: 100%;
    max-width: 100%;


    @media @desktop {

        margin-top: 25px;
    }
    
    @media @desktop-large {

        margin-top: 45px;
    }
    
}

#PH_showdetails-banner .main-logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
    vertical-align: middle;
}

#PH_showdetails-banner .location-select {

    display:block;
    float:right;

    @media @desktop {

        width: 30%;
    }

    @media @desktop-large {

        width: 30%;
    }    

    @media @mobile {
        margin-top: 150px;
    }
}
   
#locationselect {

    background-color: #E2211C;
    padding: 1px 15px 10px 15px;
    margin-top: 60px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    
    @media @desktop {

        margin-top: 40px;
    }

    @media @desktop-large {

        margin-top: 60px;
    }

    @media @mobile {

        background-color: unset;
        box-shadow: unset;
        margin-top: 20px;
        padding: 0px 15px 0px 15px;
    }  
}

#locationselect .main-buttons.select {

    padding-bottom: 15px;

    @media @mobile {

        padding-bottom: 5px;
    }
}

#locationselect .main-buttons.select .locations {

    box-shadow: 0 0 0 4px rgb(245,245,245);
    margin: 25px 4px 0px 4px;
    border-radius: 4px;
    background-color:#076098;
    color: #333;
}

#locationselect .main-buttons.select a {

    padding: 10px 12px;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

#locationselect .main-buttons.select .locations:first-of-type {

    display: none;
}


#PH_showdetails-banner .partner {

    float: left;
    padding-top: 20px;
    position: relative;
    width: 100%;
    text-align: right;

    @media @desktop {

        padding-top: 5px;
    }

    @media @desktop-large {

        padding-top: 20px;
    }

    @media @mobile {
        padding-top: 0px;
        text-align: center;
    }
    

    
}

#PH_showdetails-banner .partner p {

    color: #FFF;
    display: inline-block;
}

#PH_showdetails-banner .partner img {

    margin-left: 10px;
    height: auto;
    width: 185px;
    vertical-align: middle;
}






.showDetails {
    background-color: #F5F5F5;
    border-top: 4px solid #009FE1;
    padding: 25px 20px;
    overflow: hidden;
}

div#pickadate {

    top: 25px;
    right: 20px;

    @media @mobile {

        top: unset;
        right: unset;
        float:left;
    }
}



#eventslist {

    @media @desktop {

        margin-top: 17px;
    }    

    @media @desktop-large {

        margin-top: -68px;
    }

}


// Left Side

.carousel,
#media,
#description,
.showName,
.largeImageContainer {

    width: 55%;

    @media @mobile {

        width: 100%;
    }
}

// Right Side

#PH_partner-info,
div#pickadate,
#eventslist {

    width: 42%;

    @media @mobile {

        width: 100%;
    }
}

div#pickadate{

    width : calc(42% - 16px);

    @media @mobile {

        width: 100%;
    }
}

//



.carousel .itemsDataContainer::before {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-back.svg);
}

.carousel .itemsDataContainer::after {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-front.svg);
}

.carousel .itemsDataContainer::after,
.carousel .itemsDataContainer::before {
    width             : 100px;
    content           : "";
    height            : 130px;
    position          : absolute;
    bottom            : 10px;
    right             : 10px;
    background-size   : contain;
    background-repeat : no-repeat;
    opacity           : 0.1;
    z-index           : 1;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition   : all 250ms ease-in-out;
    -ms-transition    : all 250ms ease-in-out;
    -o-transition     : all 250ms ease-in-out;
    transition        : all 250ms ease-in-out;
}

.carousel .itemsDataContainer::after,
.carousel .itemsDataContainer::before {
    opacity: 1;
}



.ui-widget-header { background-color: @box-bgcolor; }

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {

    background-color: unset;
}


.ui-state-default,
.ui-widget-content .ui-state-default {

    background      : none;
    background-color: @highlight-color;
    color           : #FFFFFF;
}

.ui-widget-content .ui-datepicker-today .ui-state-default {

    background      : none;
    background-color: @button-color;
    color           : #FFFFFF;
}

.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled {
    opacity: .40;
    filter: Alpha(Opacity=40);
}





.ShowEventsitemsList .dataItem {
    background-color: #FFFFFF;

    border: none;
    padding-left: 20px;

    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: none;
}

.ShowEventsitemsList .dataItem::before {

        display: block;
        position: absolute;
        width: 10px;
        height: 100%;
        background-color: #E2211C;
        left: 0px;
        top: 0;
        content: " ";
}

.ShowEventsitemsList .itemsDataContainer,
.ShowEventsitemsList .itemsDateRange SPAN {

    color: @font-dark-color;
}


.ShowEventsitemsList .itemsDateRange,
.ShowEventsitemsList .itemsDataContainer {

    width: 68%;
}




#eventslist .itemsButtonsContainer {

    right: 8px;
    top: 8px;
    margin-top: 0;

    @media @desktop {

        width: 28%;
        position: absolute;

    }    

}

.ShowEventsitemsList .button.small_button_a A {

    

    &:link,
    &:hover,
    &:active,
    &:focus { 

        border-radius: 50%;
        display: block; 
        height: 65px;
        width: 65px;
        font-weight: bold;
        padding: 13px 0 0 0;
        transition: none;
        float: right;
    }


}











.largeImageContainer {
    display: none;
}

.showName h1 { 

    margin-top: 0;

    @media @desktop {

        margin-bottom: 0;
    }
}

#PH_partner-info {

    @media @desktop {
        margin-top: 245px;
    }

    @media @mobile {
        margin-top: 15px;
    }
}

#eventslist {
    margin-top: 15px;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
    margin: 0 0 15px 0;
}



/* DOWT */

#description {

    line-height: 22px;
    font-size: 16px;
}

#description .info {

    p, h1, h2, h3, h4, hr {
        float: left;
        width: 100%;
    }
}


#description .info p {
    font-size: 16px;
    margin-bottom: 0;
}

#description .info h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    color: @font-h1-color;
    font-size: 26px;

}

#description .info h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #009FE1;
    font-weight: 700;
    font-size: 22px;
}

#description .info h4 {
    margin: 0px;
    color: #333;
    font-weight: 700;
    display: block;
}

#description .heading {
    margin-top: 5px;
    font-weight: 700;
    color: #2a6496;
}

#description .row.venue .image {
    padding: 0px;
    margin-bottom: 0px;
}

#description img {

    max-width: 100%;
    width: 100%;
    height: auto;
}

#description .venue > div, #description .event > div {
    padding-top: 15px;
    margin-bottom: 15px;
}

#description .facilities p {

    margin-bottom: 15px;
}

#description .facilities-list {
    list-style: outside none none;
    padding-left: 0;
    float:left;
}

#description .facilities-list.location {

    margin-top: 0;
}

#description .facilities-list li {
    
  margin-right: 3px;
  margin-bottom: 5px;
  display: inline-block;
  
  padding: 3px 6px 3px 6px;
  background-color: #009FE1;
  color: #FFF;
  border-radius:4px;
  
  font-size: 16px;
  position: relative;
}



#description .facilities-list li a {
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px 6px 6px 6px; 
}



#description .info .row.mattel, #description .info .row.additional-info {
    margin: 10px 0;
}
#description .info .row.mattel p, #description .info .row.additional-info p {
    font-size: 14px;
    float: left;
}
#description .info .row.mattel .mattel-logo {
    float: left;
    margin: 0px 15px 25px 0px;
    display: block;
    width: 50px;
    height: 50px;
}
