@import 'variables';
@import '../master-template/Event4';

body {

    background: none;
    background-color: #FFF !important;
}

div#PH_breadcrumbs {

    margin: 80px auto 0 5%;

    @media @mobile {

        margin: 125px auto 0px 5%;
    }
}

.breadcrumbs {

    padding-left: 0;
}

#eventPage.non-seated .infoSection .eventDetails {

    @media @mobile {

        margin-top: 0px;
    }
}

#selectedAreaInfo {

    @media @mobile {

        padding-bottom: 0px;

    }
}
#selectedAreaInfo .selected {

    @media @mobile {

        margin-top: 5px;
    }
}

#eventPage.non-seated #leftPane .extra {

    @media @mobile {

        margin-top: 0px;
        margin-bottom: 15px;
    }
}

.eventInfoSection .imageContainer {
    display: none;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed > a {

    color: #FFFFFF;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer .button.proceed.disabled > a {

    color: #858585;
}

#eventPage .selectTickets .tickets > .row {
    padding: 1.0em .5em .5em .5em;
}