@import 'variables';
@import '../master-template/Order';


div#PH_breadcrumbs {

    @media @mobile {

        margin: 120px auto 0 auto;
        padding: 15px 0 15px 0;
    }

    @media @desktop {

        margin: 80px auto 0 auto;
    }
}


.bottomButtonsBar {
    
    background-color: @background-color;
}











.ui-dialog .ui-dialog-title {

    font-size: 16px;
}


.itemExtraDonBasketMessage { margin-bottom: 15px; }

.itemExtraDonBasketMessage a { 
    
    font-weight: bold; 
    color: @button-color; 

    &:hover,
    &:active,
    &:focus {

        color: @button-hover-color;
    }
}


.itemExtraDonation {

    .subtitle { margin-bottom: 15px; }

    .fieldRow { margin-bottom: 10px; }

    #DonationDetails {
        
        th { text-align: left; }

        td { padding: 10px 0 0 0; vertical-align: top; }
    }

}


.itemExtraDataDialog {

    #itemsExtraDataDialog #extraDataForms .formCaptionColumn {
        font-weight: bold;
        padding: 0 10px 10px 3px;
    }

    #itemsExtraDataPanel .spForm P,
    #itemsExtraDataHint {

        max-width: 100%;
    }

    #itemsExtraDataHint .ui-icon {

        margin-top: 0;
        margin-right: 3px;
    }

    #extraDataForms .basketManRow.missing .basketManRowCol.missingMessage {

        width: 25px;
    }

    #itemsExtraDataDialog .buttonsContainer button {
        
        background: @button-color;
        padding: 4px 15px 4px 15px;
        min-width: 120px;
        color: @button-font-color;

        @media @mobile {

            padding: 4px 6px 4px 6px;
            min-width: 100px;
        }
    }

    #itemsExtraDataDialog .buttonsContainer {

        @media @mobile {

            padding-bottom: 25px;
        }
    }

}

