/*----------------------------------------------*/
/*                  Base Settings               */
/*----------------------------------------------*/

html,
body {
    padding: 0;
}

body {
    background-color      : @background-color;
    font-family           : @main-font;
    -webkit-font-smoothing: antialiased;
    font-size             : @fontsize-main;

    @media @mobile {
        font-size: @fontsize-mobile;
    }
}

iframe {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

FORM input[type="text"],
FORM input[type="password"],
FORM input[type="email"],
FORM input[type="tel"],
FORM input[type="number"],
.spForm input[type="text"],
.spForm input[type="password"],
.spForm input[type="email"],
.spForm input[type="tel"],
.spForm input[type="number"],
FORM SELECT {
    padding-left: 4px !important;
}

.button.small_button_a A::after, button.small_button_a::after {
    display: none;
}

.error .ui-icon {

    float: unset;
}

.screen-content,
button {
    font-family: @main-font;
}

#group_main,
#group_Header #PH_Menu>* {
    @media @mobile {
        width: 100%;
        float: inherit;
    }
}

.screen-content {
    //padding-top   : 100px;
    margin-top      : 100px;
    background-color: @background-color;
    max-width       : 1400px;
    padding         : 0 5%;

    @media @desktop-large {
        padding: 0;
    }
}

body.screen-CrmDetails_aspx div.ui-dialog.ui-widget.ui-widget-content {

    @media @mobile {
        width: 98% !important;
    }
}

/* Header */
body,
#group_Header-fixed {
    max-width       : 100%;
    width           : 100%;
    box-shadow      : none !important;
    background-color: @background-color  !important;

    @media @mobile {
        padding-left : 0% !important;
        padding-right: 0% !important;
    }
}

body #group_Header-fixed {
    height       : @header-height;
    border-bottom: 0.5px solid @button-color;

    @media @mobile {
        height: @header-height-mobile;
    }
}

#group_Header-fixed.primary #PH_logo,
#group_Header-fixed.primary #PH_Main_Menu,
#group_Header-fixed.primary #PH_Search_Box {
    @media @desktop {
        display: none;
    }
}

.ph_float_menu {
    width: auto;

}

#siteMenuBar {
    display: block;
    margin : 0;
    padding: 0;
    width  : 100%;
    height : 100%;
}

.siteMenuContainer {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    margin         : 0 auto;
    max-width      : 1000px;
    float          : none;
    overflow       : hidden;
    height         : 100%;

    @media @mobile {
        justify-content: space-evenly;
    }
}

.siteMenuContainer button#navMenu_Float_login_item {
    width : auto;
    height: auto;
    order : 1;
}

#PH_Float_Menu #siteMenuBar .siteMenuContainer .flm_my_basket {
    margin    : 0;
    padding   : 0;
    width     : auto;
    height    : 38px;
    order     : 4;
    background: none;
    color     : #000;

    @media @mobile {
        border-left: 1px solid;
    }
}


#siteMenuBar #CountDown.active .timer-tooltip {
    @media @mobile {
        //top  : 1.05rem !important;
        //right: 34% !important;
    }
}

a#navMenu_Float_TimeRemaining_item {
    order: 5;
}

#siteMenuBar #CountDown.active {
    display   : block;
    order     : 6;
    margin    : 0;
    background: transparent;

    @media @mobile {
        //display: none;
    }
}

/*
.flm_CountDown::before {
    content    : 'Time Remaining';
    color      : black;
    width      : 100px;
    font-size  : 16px;
    font-weight: 600;
}
*/
.account button {
    background-color: transparent;
    color           : @button-font-color;
}

div#PH_header-container {
    display: block;
    width  : 100%;
}

.main-logo {

    max-width: @logo-maxwidth-desktop;
    padding  : 0 5%;

    @media @mobile {
        max-width: @logo-maxwidth-mobile;
        padding  : 0;
    }
}

img.logo-image {
    max-width : @logo-maxwidth-desktop;
    height    : @logo-height;
    margin-top: @logo-margin-top;

    @media @mobile {
        max-width : @logo-maxwidth-mobile;
        margin-top: @logo-margin-top-mobile;
    }
}

div#PH_Float_Menu {
    width: 100%;

    @media @mobile {
        height  : 35px;
        position: absolute;
    }
}

.float_menu_item {
    margin-right: 10px;
}

#siteMenuBar #customerBox .loyaltyPoints,
#siteMenuBar #customerBox .qualityPoints {
    display: none;
}

#siteMenuBar #my_basket>span:before,
#siteMenuBar [id='my basket']>span:before {
    font-family : 'FontAwesome';
    color       : #fff;
    margin-right: 0;
    content     : '\f291';
    font-size   : 16px;
    font-weight : bold;

    @media @desktop {
        color: @button-color;
    }

    @media @mobile {
        position: static !important;
        margin-right: 8px;
    }
}

span.mnuBtnCaption::before {
    font-family : 'FontAwesome';
    color       : @button-color;
    margin-right: 10px;
    content     : '\f007';

    @media @mobile {
        color: #fff;
    }
}

#navMenu_Float_Search_item>span::before {
    font-family : 'FontAwesome';
    color       : @button-color;
    margin-right: 10px;
    content     : '\f002';

    @media @mobile {
        color: #fff;
    }
}

a#navMenu_Float_Search_item {
    @media @mobile {
        border-left: 1px solid;
    }
}

a#navMenu_Float_Search_item span {
    bottom: 11px;
}

#group_Header-fixed:not(.menudisplayed) #siteMenuBar .flm_login span {
    color           : #fff;
    background-color: transparent;
    font-size       : 16px;
    line-height     : 1;

    @media @desktop {
        color: @font-dark-color;
    }
}

#siteMenuBar.hasclient #customerBox a {
    font-size  : 16px;
    font-weight: 600;
    color      : #2a2d34;

    @media @mobile {
        color: #fff;
    }
}

#siteMenuBar #my_basket>span,
#siteMenuBar [id='my basket']>span {
    @media @mobile {
        color    : white !important;
        font-size: 16px !important;
    }
}

#siteMenuBar.hasclient #customerBox::before {
    font-family : 'FontAwesome';
    color       : @button-color;
    margin-right: 10px;
    content     : '\f007';
}


#siteMenuBar #my_basket>span {
    position   : static;
    width      : auto;
    height     : auto;
    line-height: normal;

    @media @mobile {
        margin-top: 9px;
    }
}





.ph_search_box .searchManager {

    margin-top: 41px;
    width     : 100%;
}

.searchManager.expanded .findByOptions button.expanded,
.searchManager.expanded .findByOptions button:not(.expanded) {

    -webkit-box-shadow: unset;
    -moz-box-shadow   : unset;
    box-shadow        : unset;
}

#group_Header-fixed #PH_Search_Box {
    width : 33%;
    height: 35px;
}

#group_Header-fixed FORM.frmSearch .SearchTextButton:before {
    color: transparent;
}


#group_Header-fixed:not(.searchPageOpen) .ph_search_box FORM.frmSearch .SearchBoxContainer .SearchTextButton {
    border-style: none;
    width       : 100%;
    left        : 0px;
}

#group_Header-fixed.searchPageOpen FORM.frmSearch .SearchTextBox {

    top: 3px;
}


#group_Header-fixed.searchPageOpen #PH_Search_Box {

    right: 0;
}

#group_Header-fixed.searchPageOpen #closeSearchPage {

    top: 0px;

}

.searchManager .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {

    height: unset;
}

#group_Header-fixed.searchPageOpen .ph_search_box .findByValues .currentTimeRangeEventsCtrl {
    margin-top   : 46px;
    padding-right: 0;
}

.currentTimeRangeEventsCtrl .currentTimeRangeEvents,
.currentTimeRangeEventsCtrl .currentTimeRangeEvents:active {
    padding-right   : 0;
    width           : 100%;
    background-color: #bfbfbf;
    text-align      : center;
    font-size       : 1.2em;
}


.findByTitle {

    line-height: 60px;
}

.findByOptions button {

    font-size  : 16px;
    line-height: 16px;
    height     : unset;
    margin     : 0;
    padding    : 10px;
}

.findByOptions button::before {

    margin-right: 6px;
}

.findByOptions button::after {
    line-height: 12px;
}





/* Footer */
#group_Footer {
    background-color: #fff;
}

#eventPage.seated #ticketsPane .selectTickets .buttonsContainer {
    background-color: #fff;
    box-shadow      : none !important;
    border-top      : 0.5px solid @button-color;
}

/* Breadcrumbs */
.ph_tunnellocation .step,
.ph_tunnellocation .innerpath {
    display: none !important;
}


.ph_tunnellocation {
    background-image: none !important;
}

.crumb {
    display       : inline-block;
    text-align    : left;
    vertical-align: middle;
}

.breadcrumbs {
    display     : block;
    width       : 100%;
    padding-left: 0;

    @media @mobile {
        padding-left: 5%;
        font-size   : 13px;
    }
}

div#PH_breadcrumbs {
    margin-top: 85px;
    width     : 100%;
    display   : block;

    @media @mobile {
        margin-top: 140px;
    }
}

.crumb.step-one:after,
.crumb.step-two:after,
.crumb.step-three:after {

    content: '/';
    margin : 0 10px;

    @media @mobile {
        margin: 0 2px 0 7px;
    }
}


/* Promo Box */
.promoBox:before {
    display: none !important;
}



.promoBox input+button {
    .sub-button();
}

.promoBox label {
    @media @mobile {
        text-align: left;
        width     : 100%;
    }
}

.promoBox {

    padding         : 10px !important;
    background-color: @box-bgcolor;
    border          : none !important;
    border-radius   : 0 !important;


}

div#promo-descr {
    @media @mobile {
        text-align: left;
    }
}



.qtip.timer-tooltip {
    /*
    padding         : 0 20px;
    display         : inline-flex;
    height          : 50px;
    */
    align-items     : center;
    font-size       : 16px;
    font-weight     : 600;
    background-color: #fff !important;
    border          : none !important;
    position        : static !important;
}

#siteMenuBar #CountDown .CountDownRemainingTimeTitle {
    //display    : inline-block;
    font-size    : 16px;
    font-weight  : 600;
}

#siteMenuBar.hasclient #CountDown .CountDownRemainingTimeTitle {
    //padding-left: 124px;
}

#siteMenuBar #CountDown {
    //text-align: left;
    //right     : -13% !important;
    //top       : 31px !important;
    //width     : 250px;
    background  : #fff;
    position    : static;
}

#siteMenuBar.hasclient #CountDown {
    //right: -20% !important;
}

#siteMenuBar .flm_login {}

body>.timer-tooltip {
    display: none !important;
}

button.CancelTransFromTimer.btnCancel.btnLink {
    display: none;
}

.siteMenuContainer>*:last-child:after,
.siteMenuContainer>*:after,
#siteMenuBar.hasclient #customerBox:after {
    content: none;
}

#siteMenuBar #CountDown.active .timer-tooltip {
    // visibility: hidden !important;
}

.timerMessage {
    background-color: transparent !important;
    color           : #404041 !important;
}

#PH_BasketWidget .button.proceed {
    margin: 10px 0 15px 0;
}

#PH_BasketWidget .button.small_button_a a {
    background   : @button-color;
    border-bottom: none;
    font-size    : 16px;
}

#PH_BasketWidget div.footer {
    background-image: none;
}

#PH_BasketWidget {
    background: none;
    border    : none;
    box-shadow: none;
}

#PH_BasketWidget>div {
    border          : 1px solid;
    background      : none;
    background-color: @box-bgcolor;
}

#PH_BasketWidget>div>* {
    padding: 0 20px 0 15px;
}

#PH_BasketWidget .accordionContent {

    padding: 7px 0;
}






#miniBasketWrapper .imageContainer,
#miniBasketWrapper .basket-Memberships .infoSection .imageContainer,
#miniBasketWrapper .basket-Donations .infoSection .imageContainer,
#miniBasketWrapper .basket-Subscriptions .subsInfoSection .imageContainer,
#miniBasketWrapper .basket-MerchandiseItems .infoSection .imageContainer,
#miniBasketWrapper .basket-GiftVouchers .infoSection .imageContainer,
#miniBasketWrapper .basketEvent .eventInfoSection .imageContainer {
    height             : unset;
    overflow           : unset;
    padding-left       : 0;
    padding-top        : 0;
    background-size    : 100%;
    background-repeat  : no-repeat;
    background-position: unset;
    display            : block;
}

#miniBasketWrapper .basketEvent .eventInfoSection .imageContainer {
    background-repeat    : no-repeat;
    background-size      : 100%;
    background-position-x: unset;
}

#miniBasketWrapper .basket-container .imageContainer {
    margin-left: 0;
    margin-top : 0;
    width      : 50px;
    text-align : left;
    line-height: unset;
}

#miniBasketWrapper .basket-section:not(.basket-Subscriptions) .items {
    margin-top: 15px;
    width     : 100% !important;
}

#miniBasketWrapper .basket-section.basket-Commissions .items .TotalAmount {

    font-size: small;
}

#PH_BasketWidget .basketProperty.Details,
#PH_BasketWidget .basketProperty.TotalAmount {

    padding-right: 0;
    padding-left : 0;
}

#miniBasketWrapper .infoSection {

    margin-bottom: 10px;
}

#miniBasketWrapper .infoSection IMG {


    margin-top : 0px;
    margin-left: 0px;
    width      : 100%;
    max-width  : unset;
    max-height : unset;

}



#PH_BasketWidget .basketItemSummary {
    width        : 100%;
    margin-bottom: 0px;
}

#PH_BasketWidget .basketItemSummary>.PriceToPay {
    margin-top : 0px;
    margin-left: auto;
}

#PH_BasketWidget div.footer .button.proceed {
    margin-left: unset;
}

#PH_BasketWidget div.footer .proceed A {
    width: unset;
}



#PH_BasketWidget .basketEvent .infoSection .promoBox {

    display: none !important;
}



/*
.qtip.timer-tooltip {
    display: none;
}
*/
.timer-tooltip.qtip {
    max-width: 290px;
    //display: inline-block !important;
}

/* Footer */

button#scrollTopControl {

    border               : none;
    border-radius        : 0px;
    -moz-border-radius   : 0px;
    -webkit-border-radius: 0px;
    padding-bottom       : 20px;
}

div#PH_Footer-main {

    padding : 5%;
    width   : 100%;
    position: relative;
    float   : left;

    a,
    button.btnLink {
        color          : #fff;
        text-decoration: none;
    }
}

.flm_CountDown .qtip-content {
    position: relative;
    top     : 2px;
    left    : 128px;
    overflow: visible;
}

.flm_CountDown .qtip-content {
    position: static;
    padding : 8px 0 0 4px !important;
}

#siteMenuBar.hasclient #customerBox {
    //visibility: hidden;
}

#siteMenuBar #my_basket .basketQtyHolder,
#siteMenuBar[id='my basket'] .basketQtyHolder {
    background  : #000;
    //left      : -118px;
    color       : white;
    //position  : relative;

    @media @mobile {
        margin-top  : -3px;
        //left      : -4.5em !important;
        width       : 18px !important;
        left        : 59% !important;
    }
}

#siteMenuBar.hasclient #my_basket .basketQtyHolder,
#siteMenuBar[id='my basket'] .basketQtyHolder {
    @media @mobile {
        left: 59% !important;
    }
}

#siteMenuBar.hasclient #my_basket>span,
#siteMenuBar [id='my basket']>span {
    //left: -14px;
}

#siteMenuBar #CountDown .timerText {
    //visibility: hidden !important;
}


.qtip-content {
    overflow: visible !important;
}

.qtip.venueImageHint:before {
    content   : none;
    background: transparent;
    color     : transparent;
    display   : none;
}

.qtip.venueImageHint {
    display: none;
}

#PH_BasketWidget .basketItem {
    padding-right: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    padding: 1% 4%;
}



.plzWait .ajax-refreshing::before {
    content: '\f1ce'
}

.plzWait {
    color: @button-color;
}

#media .video::after,
#media .video::before,
#media::after {
    content: none;
}

.flm_my_basket::after {
    content     : 'Basket' !important;
    width       : 60px;
    position    : static;
    line-height : 38px;
    padding-left: 10px;
    font-size   : 16px;
    font-weight : 600;
}

.template-TemplateFull #group_left,
.template-TemplateWithRight #group_left {
    float         : right;
    display       : flex;
    flex-direction: column;
    margin-right  : auto;
}

div#PH_Search_results {
    display    : flex;
    margin-left: auto;
    margin-top : 0;
}

.template-TemplateFull #group_left,
.template-TemplateWithRight #group_left {
    @media @desktop {
        margin-top: 30px;
    }
}

#group_Header {
    @media @desktop {
        margin    : 0 auto;
        width     : 100%;
        margin-top: 70px;
        text-align: center;
    }
}

#group_Header-fixed:not(.searchPageOpen) FORM.frmSearch INPUT[type=text] {
    @media @mobile {
        display: none;
    }
}










#PH_Memberships_list.screen-content,
#PH_Gift_Vouchers_list.screen-content {

    margin: 0 auto;
}

#PH_Memberships_list .itemsList,
#PH_Gift_Vouchers_list .itemsList {

    display: flex;
    flex-direction: row;
}

#PH_Memberships_list .itemsList .dataItem,
#PH_Gift_Vouchers_list .itemsList .dataItem {

    width: 23%;
    margin: 0 25px 25px 0 !important;
    padding: 0 0 80px 0;
    border: unset;
    background-color: @font-dark-color;
    height: unset;
    position: relative;

    @media @mobile { 
        width: 100%; 
    }
}

#PH_Memberships_list .itemsList .dataItem > *,
#PH_Gift_Vouchers_list .itemsList .dataItem > * {
    width: 100%;
    padding: 6px 15px;
}

#PH_Memberships_list .itemsList .itemsButtonsContainer, 
#PH_Gift_Vouchers_list .itemsList .itemsButtonsContainer {
    
    .button.small_button_a a, button.small_button_a, .button.small_button_a a:hover, button.small_button_a:hover, .button.small_button_a a:focus, button.small_button_a:focus, .button.small_button_a a:active, button.small_button_a:active {
    
        .action-button();

        font-size: @button-desktop-fontsize;
        border   : 1px solid @button-color;
    }

}

#PH_Memberships_list .itemsList .itemsButtonsContainer .button.moreInfo a,
#PH_Gift_Vouchers_list .itemsList .itemsButtonsContainer .button.moreInfo a {

    display: none;
}


#PH_Memberships_list .itemsList .dataItem .item_image_container,
#PH_Gift_Vouchers_list .itemsList .dataItem .item_image_container {

    float: left;
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    min-height: 181px;
}

#PH_Memberships_list .itemsList .dataItem .item_image_container div.item_image,
#PH_Gift_Vouchers_list .itemsList .dataItem .item_image_container div.item_image {

    background: none;
    padding-top: unset;
    height: unset;
}


.ph_gift_vouchers_list .itemsList .dataItem div.item_image img {
    margin-bottom: unset;
    margin-top: unset;
    width: 100%;
    height: auto;
    border-radius: unset;
    max-width: 100%;
    max-height: unset;
}

#PH_Memberships_list .itemsList .dataItem .name,
#PH_Gift_Vouchers_list .itemsList .dataItem .name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

#PH_Memberships_list .itemsList .dataItem .description,
#PH_Gift_Vouchers_list .itemsList .dataItem .description {
    margin: 1em 0;
    max-height: unset;
    overflow: visible;
    min-height: unset;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

#PH_Memberships_list .itemsList .dataItem .description::after,
#PH_Gift_Vouchers_list .itemsList .dataItem .description::after {
    
    display: none;
}


#PH_Memberships_list .itemsList .itemsButtonsContainer .button.moreInfo,
#PH_Gift_Vouchers_list .itemsList .itemsButtonsContainer .button.moreInfo {
    display: none;
}

#PH_Memberships_list .itemsList .itemsButtonsContainer,
#PH_Gift_Vouchers_list .itemsList .itemsButtonsContainer {
    
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0;
    text-align: center;
    
}

#PH_Memberships_list .itemsList .itemsButtonsContainer .button,
#PH_Gift_Vouchers_list .itemsList .itemsButtonsContainer .button {
    float: none;
}




















.pagingContainer {
    display: flex;
    float:left;
    margin: 8px 0 25px 0;
    max-width: 100%;
    width: 100%;

    @media @desktop {
        width: unset;
    }
}

.pagingContainer a.paging {

    flex-grow: 1;
    padding: 10px 4px 9px 4px;
    font-size: 16px;
    background-color: @button-color; 
    color: @font-light-color;
    opacity: .75;
    margin: 0 5px 0 0;
    line-height: 1em;
    text-decoration: none;
    text-align: center; 

    @media @desktop {
        padding: 8px 12px 7px 12px;
    }
}

.pagingContainer a.paging.first, .pagingContainer a.paging.last,
.pagingContainer a.paging.next, .pagingContainer a.paging.prev {
    
   position: relative;
}


.pagingContainer a.paging.next {

    margin-left: 6px;
}

.pagingContainer a.paging.prev {

    margin-right: 12px;
}

.pagingContainer a.paging.next:before, .pagingContainer a.paging.prev:after {
    
    content: "";
    display: block;
    width: 1px;
    height: 29px;
    position: absolute;
    top: 3px;
    pointer-events: none;

    @media @desktop {

        height: 25px;
    }
}

.pagingContainer a.paging.next:before {
    
    border-left: 1px solid #a8a8a8;
    left: -6px;
}

.pagingContainer a.paging.prev:after {
    
    border-right: 1px solid #a8a8a8;
    right: -6px;
}

.pagingContainer a.paging.current {
    
    background-color:@font-dark-color;
    opacity: 1;
}

.pagingContainer a.paging:hover {
    
    background-color:@button-color; 
    opacity: 1;
}


