.screen-content {

    margin: 120px auto 40px auto;

    @media @mobile {
        margin: 120px auto 40px auto;
    }
}

.screen-content .ui-widget {

    .font-dark();

    font-size: 16px;
    font-weight: 400;
}


div#PH_breadcrumbs {
    display: none;
}

#leftMenu DIV.ui-tabs-panel.ui-widget-content {

    width: 100%;
    padding: 0;
}

.crmWelcomeColumnContainer > DIV {
    padding: 0;
}

.crmWelcomeColumnContainer > DIV > H2 {

    .font-h2();
}

.welcomeContent, #crmFriendsAndRelativesContent {
    padding-left: 25px;
    padding-bottom: 40px;
}

#crmMyProfile H2 {
    padding: 0;
}

#crmMyProfileContent.welcomeContent FIELDSET {

    margin: 0;
}

#crmMyProfileContent.welcomeContent FIELDSET .row {

    padding: 4px 4px 4px 0px;
}

