
.screen-content {
    margin: 45px auto 0 auto;
    padding: 50px 25px 40px 25px;

    @media @desktop {

        margin: 45px auto 0 auto;
        padding: 50px 25px 40px 25px;
        width: 900px;
    }

    @media @mobile {
        padding: 0;
        margin: 120px auto 40px auto;
    }
}
 


div#PH_breadcrumbs {

    display: none;
}

.hasExternalLoginControls {

    width: 100%;
}

.general_caption {

    .font-h2();
}

.loginControl {

    .row {
        margin: 0 0 10px 0;
    }

    .row .label {

        display: block;
        margin-bottom: 5px;
    }
    .row .field {

        float:left;
        margin-left: 28px;
        margin-top: 5px;
    }
}


#btnForgot {
    color: @font-dark-color;
    width: 100%;
    text-align: left;
}

.loginControl .loginButtons {

    float:left;
    width: 100%;
}

