
@left-pane-width   : 75%;
@right-pane-width  : 23%;

div#PH_breadcrumbs {
    @media @desktop {
        width    : @left-pane-width;
        display  : block;
        max-width: 1400px;
        margin   : 75px auto 0 5%;
        padding  : 0;
    }
}

.ph_tunnellocation {
    display: none;
}


.screen-content {

    background: none;
    float: none;
    width: @left-pane-width;
    display: inline-block;
    border: none;
}