.ui-dialog .ui-dialog-titlebar {

    padding: .4em 2em;
}

.loginOrRegisterWizard DIV.breadcrumbs {
    display: none;
}

.loginControl #btnLogin {
    .action-button();
}

.loginOrRegisterWizard .createAccountContainer .errorMessage {

    margin-top: 15px;
    padding-left: 10px;
}

.loginOrRegisterWizard .createAccountFormContainer {
    margin-top: 0;
}

.loginOrRegisterWizard .wizardStepDescription {

    margin: 10px 0 0 0;
}

.loginOrRegisterWizard #frmCreateAccount .fieldHint {
    
    bottom: -1.6em;
    left: 0.4em;
}

.loginOrRegisterWizard .linkToAlternative>button {
    .sub-button();
    border-radius: 0;
    margin-top: 6px;
}

.loginOrRegisterWizard .loginControl {
    margin-top: 5em;
}

.loginOrRegisterWizard .loginControl>DIV.external {
    display: none;
}

.loginControl #btnLogin[disabled] {
    .cancel-button();
    background-color: @cancel-button-color;
}

.linkToAlternative button:before, .linkToAlternative button::after {
    box-shadow: none;
}


.loginControl .loginButtons {
    @media @mobile {
        padding-bottom: 50px;
    }
}

.loginOrRegisterWizard #frmCreateAccount > DIV.wizardNav button {

    border-radius: 0;
}

.loginOrRegisterWizard #frmCreateAccount > DIV.wizardNav button.ok {
    
    .action-button();
}
