
body { text-align: center; }

div#PH_breadcrumbs {

   display: none;
}

.ph_tunnellocation {
    display: none;
}

.screen-content {

    background: none;
    float: none;
    width: 55%;
    display: inline-block;
    border: none;
    text-align: left;
}

#group_0 {

    margin: 100px auto 25px auto; 
    float: none;
    width: 55%;
    display: inline-block;
}

#PH_Membership_purchase {

    width: 100%;
}
