div#PH_breadcrumbs {

    display: none;
}

.confirmStaticMessage::after {

    background: none !important;
    background-image: none !important;
}

.screen-content {
    margin    : 0 auto;
    margin-top: 59px;

    @media @mobile {
        padding   : 0;
        margin-top: 126px;
        width: 100%;
    }

    @media @desktop {
        padding   : 25px;
        margin-top: 59px;
        margin-bottom: 25px;
        width: 1400px;
    }

}

.home {
    .cancel-button();
}

.pageSectionContainer {

    background: none;
    border: unset;
    margin-top: 0;
}


.confirmationMessage {

    margin-top: 25px;
}

.bottomButtonsBar {

    .small_button_b, .small_button_c, .small_button_a {

        .action-button();

        font-size: @button-desktop-fontsize;
        border   : 1px solid @button-color;
        text-align: center;

        &:hover,
        &:active,
        &:focus {

            background-color  : @button-hover-color;

        }
    }


    #btnContinue { 
        background-image:unset; 
        padding: 0; 
    }

}

