.confirmStaticMessage {

    color: #007436;
    font-size: 22px;
    font-weight: normal;
}

.basket-container .basketEvent .eventInfoSection .imageContainer {

    background: none;
}

.basket-container .eventInfoSection IMG {
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    max-width: unset;
    max-height: unset;
}


.basket-container {
    padding-top: 15px;
}

.basketTotals {
    margin-top: 1em;
}

#basketContainer .basketItemSummary {
    flex-direction: column;
    margin-top: 0;
}

.eventInfoSection.infoSection {
    padding-left: 0;
    padding-right: 5px;
}


.infoSection .name {

    padding-top: 0;
}

.basketItemSummary .details {
    padding-left: 0;
}

.basketItemSummary.ListPrice {

    text-align: right;
}

.basketProperty.PriceToPay {

    font-weight: bold;
}

#paymentContainer .containerTitle {
    text-align: right;
    font-weight: bold;
    padding: 1em 2em;
    margin-bottom: 0;
}

.basketBeforePayment {

    color: @font-dark-color;
    padding: .3em 0 0 .3em;
}

.containerBy {
    padding: 0 .3em;
}

.paymentDetails {
    padding: 0;
}



.fa {    

    font-size: unset;
    font: normal normal normal 16px/1 FontAwesome;
}