#group_main,
#group_Header #PH_Menu>* {
    width: 100%;
    float: left;
}

.screen-content {
    
    @media @desktop {

        width    : 1400px;
    }
}
.ph_recommended_shows {

    margin-top: 42px !important;
}

.recommendedShows.showslist {
    width : 85%;
    margin: 0 auto;
    padding: 15px;

    @media only screen and (max-width: 1660px) {
        width: 100%;
    }

    @media @mobile {
        padding: 15px;
    }
}


.itemsList {
    position       : relative;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
}

.itemsList .dataItem,
.searchResult .itemsList .dataItem {
    width          : 300px;
    margin         : 0px 40px 40px 0px;
    display        : flex;
    flex-direction : column;
    height         : unset;
}

.itemsList .dataItem:nth-child(4n+5),
.searchResult .itemsList .dataItem:nth-child(4n+5) {
    margin-right: 40px;
}

.itemsList .dataItem div.item_image {
    background-image: none;
    height          : unset;
    min-height      : unset;
}

.dataItem .item_image IMG {
    height: auto;
    width : 100%;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
}

.itemsList .dataItem div.item_image IMG,
.itemsList .dataItem:hover .item_image IMG,
.itemsList .dataItem.simulateHover .item_image IMG {

    max-height: unset;
}

.dataItem:hover IMG, .dataItem.simulateHover IMG {
    opacity: 1;
    transition: opacity .5s;
}

.dataItem .itemsDataContainer,
.dataItem:hover .itemsDataContainer,
.dataItem.simulateHover .itemsDataContainer {
    height          : unset !important;
    background-color: transparent;
    position        : relative;
    bottom          : unset;
    margin-top      : 10px;
    top             : unset;
    margin-left     : 0;
    padding         : 0;
    width: 100%;
    font-size: 14px;

  
    /*
    @media @mobile {
        top: initial;
    }
*/
}

.dataItem .name,
.searchResult .dataItem .name,
.searchResult .dataItem .name, .searchResult .dataItem:hover .name {
    position   : relative;
    top        : unset;
    bottom     : unset;
    left       : unset;
    height     : unset;
    margin-top : 0px;
    padding-top: 5px;
    margin-left: 10px;
    width      : 58%;
    /*
    @media @mobile {

        padding-top: 10px;
    }
*/

}

.searchResult .dataItem .itemsDataContainer, .searchResult .dataItem:hover .itemsDataContainer {
    width: auto;
}



.recommendedShows.showslist:not(.searchResult) .itemsList .dataItem .name {
    width: 58%;
}

.dataItem .extras,
.dataItem .itemsDateRange,
.dataItem:hover .itemsDateRange,
.dataItem.simulateHover .itemsDateRange {
    position      : static;
    color         : @button-color;
    font-size     : 16px;
    margin-left   : 10px;
    text-align    : left;
    padding-bottom: 15px;
    min-height: 65px;
    width  : 58%;
    display: block;

    &:hover,
    &:active,
    &:focus {

        //
    }
}



.dataItem .extras {

    color: @font-light-color;
    min-height: unset;
    padding-top: 5px;
    padding-bottom: 5px;

}
.dataItem .itemsDataContainer .description {
    visibility: visible;
    opacity   : 1;
}

.dataItem .previewFull,
.dataItem .itemsDataContainer .description {
    display: none;
}

.innerdescription {
    display: block;
}

.scroll-down {
    position         : absolute;
    animation        : in 1s ease-out forwards;
    opacity          : 0;
    animation-delay  : 1s;
    bottom           : 40px;
    left             : 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform   : translateX(-50%);
    -ms-transform    : translateX(-50%);
    -o-transform     : translateX(-50%);
    transform        : translateX(-50%);
    z-index          : 20;
}

.scroll-down a {
    padding-top: 70px;
}

.scroll-down a span {
    position         : absolute;
    top              : 0;
    left             : 50%;
    width            : 24px;
    height           : 24px;
    margin-left      : -12px;
    border-left      : 1px solid #fff;
    border-bottom    : 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform        : rotate(-45deg);
    -webkit-animation: sdb05 1.5s ease-out forwards;
    animation        : sdb05 1.5s ease-out forwards;
    box-sizing       : border-box;
    animation-delay  : 1.5s;
    opacity          : 0;
}

.scroll-down p {
    margin-top   : 20px;
    color        : #ffffff;
    margin-bottom: 40px;
    font-size    : 80%;
}

.currentTimeRangeEventsCtrl .currentTimeRangeEvents,
.currentTimeRangeEventsCtrl .currentTimeRangeEvents:active {
    background-color: #fff;
    width           : 100%;
    color           : @button-color;
    font-weight     : 700;
    font-size       : 29px;
    box-shadow      : none;
}

.currentTimeRangeEventsCtrl {
    background-color: #fff;
}

div#PH_Search {
    display: block;
}

#bottomButtonsBar .button.small_button_a {
    background: @button-color;
}


.recommendedShows.showslist {
    @media @desktop {
        width : 100%;
        margin: 0 auto;
    }
}

.itemsList {
    width     : 100%;
    text-align: center;
}

#itemsListLabel { 
    display: none;
}

.searchResult .itemsList .dataItem {

}