.itemsList .dataItem div.item_image {
    background-image: none;
}

FORM.frmSearch INPUT[type=text] {
    width: 360px;
}

div#PH_Search_results {
    @media @mobile {
        margin-top: 118px;
    } 
}