body { 
    text-align: center; 
}

.itemsList .dataItem div.item_image {
    background-image: none;
}

FORM.frmSearch INPUT[type=text] {
    width: 360px;
}

div#PH_Search_results {
    @media @mobile {
        margin-top: 118px;
    }
}

.searchResult .itemsList .dataItem {
    box-sizing        : border-box;
    padding           : 0;
    border            : 0;
    font-size         : 100%;
    position          : relative;
    overflow          : hidden;
    min-height        : 6em;
    width             : 300px;
    margin            : 0 40px 40px 0;
    display           : inline-flex;
    flex-direction    : column;
    height            : unset;
    background-color  : #2a2d34;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition   : all 250ms ease-in-out;
    -ms-transition    : all 250ms ease-in-out;
    -o-transition     : all 250ms ease-in-out;
    transition        : all 250ms ease-in-out;
}

.searchResult .itemsList .dataItem DIV.item_image {
    overflow           : hidden;
    text-align         : center;
    background-repeat  : no-repeat;
    background-size    : inherit;
    background-position: center 13%;
    background-image   : none;
    height             : unset;
    min-height         : unset;
    width              : 100%;
}

.searchResult .itemsList .dataItem:hover IMG,
.searchResult .itemsList .dataItem:hover .item_image IMG,
.searchResult .itemsList .dataItem .item_image IMG {
    margin-top         : 0;
    margin-left        : 0;
    max-height         : unset;
    background-position: center center;
    margin-right       : auto;
    transition         : opacity .5s;
    max-width          : 100%;
    height             : auto;
    width              : 100%;
    -webkit-transform  : scale(1.05);
    -moz-transform     : scale(1.05);
    -ms-transform      : scale(1.05);
    -o-transform       : scale(1.05);
    transform          : scale(1.05);
    margin             : 0;
}

.searchResult .dataItem .itemsDataContainer, .searchResult .dataItem .itemsButtonsContainer, .searchResult .dataItem:hover .itemsDataContainer, .searchResult .dataItem .name, .searchResult .dataItem .itemsDataContainer .description, .searchResult .dataItem .itemsDateRange {
    position: inherit;
    width: auto;
    background-color: Transparent;
    height: auto;
    bottom: auto;
    filter: none;
    height: unset !important;
    background-color: transparent;
    position: relative;
    bottom: unset;
    margin-top: 10px;
    top: unset;
    margin-left: 0;
    padding: 0;
    width: 100%;
}

.itemsDataContainer::after, .itemsDataContainer::before {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-back.svg);
    width: 65px;
    content: "";
    height: 80px;
    position: absolute;
    top: 5px;
    right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.itemsDataContainer::after {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-front.svg);
}

.searchResult .itemsList .dataItem .name {
    text-align: inherit;
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    height: unset;
    margin-top: 0;
    padding-top: 5px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    font-size: 22px;
    text-align: left;
    width: 58%;
}

.dataItem .previewFull {
    display: none;
}

.dataItem .itemsDateRange, .dataItem .extras {
    width: 58%;
    display: block;
}
.searchResult .itemsList .dataItem .itemsDateRange {
    display: table-cell;
}

.dataItem .itemsDateRange {
    position: static;
    color: #26b5bb;
    font-size: 16px;
    margin-left: 3px;
    text-align: left;
    padding-bottom: 15px;
}

.itemsList .dataItem:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    -o-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}





.template-TemplateFull .screen-content {
    max-width: 50%;
    display: inline-block;
    float: none;
}


.template-TemplateFull #group_left {

    display: inline-block;
    float: none;
    margin: 30px 0 0 0;
    vertical-align: top;
    width: 15%;
}

div#PH_Search_results {

    display: inline-block;
    float: none;
    margin: 0 15px 0 0;
    clear: unset;
}




html.appearance .eventsCalendar .ui-datepicker-year, html.appearance .eventsCalendar .ui-datepicker-month {
    background: none;
    background-color: @button-color;
    color: @background-color;
    padding: 4px;
}

.eventsCalendar .ui-datepicker .ui-datepicker-header a {

    color: @font-dark-color;
}

.eventsCalendar .ui-datepicker, .eventsCalendar .ui-datepicker-calendar {

    background: @background-color;
    padding: 0;
}

.eventsCalendar .ui-datepicker-header {

    background-color: @background-color;
    border-radius: 0px;
    box-shadow: none;
    color: @font-dark-color;
}

.eventsCalendar .ui-widget-header {

    border: none;
    background:none;
    color: @font-dark-color;
}

.eventsCalendar .ui-datepicker td span, .eventsCalendar .ui-datepicker td a {

    background-color: @button-color;
    color: @background-color;
    opacity: .5;
    padding: 10px 4px;
}


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {

    border: none;
    background: none;
}


.eventsCalendar A.ui-state-default, 
.eventsCalendar .ui-widget-content A.ui-state-default {
    background: none;

    background-color: @button-color;
    color: @background-color;
}













