body { 
    text-align: center; 
}


FORM.frmSearch INPUT[type=text] {
    width: 360px;
}

div#PH_Search_results {
    @media @mobile {
        margin-top: 118px;
    }
}





.searchResult .itemsList {
    position       : relative;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: left;
}


.searchResult .itemsList .dataItem {
    width          : 300px;
    margin         : 0px 40px 40px 0px;
    display        : flex;
    flex-direction : column;
    height         : unset;
    padding: 0;
    border: none;
    min-height: unset;
    background: none;
}

.searchResult .itemsList .dataItem div.item_image {
    background-image: none;
    height          : unset;
    min-height      : unset;
    width: 100%;
    overflow: visible;
}

.searchResult .itemsList .dataItem:hover IMG,
.searchResult .itemsList .dataItem:hover .item_image IMG,
.searchResult .itemsList .dataItem .item_image IMG {

    max-height: unset;
    max-width: 100%;
    margin: 0;
}

.searchResult .itemsList .dataItem .itemsDataContainer,
.searchResult .itemsList .dataItem:hover .itemsDataContainer,
.searchResult .itemsList .dataItem.simulateHover .itemsDataContainer {
    display: block;
    height          : unset !important;
    background-color: transparent;
    position        : relative;
    bottom          : unset;
    margin-top      : 10px;
    top             : unset;
    margin-left     : 0;
    padding         : 0;
    width: 100%;
    /*
    @media @mobile {
        top: initial;
    }
*/
}

.searchResult .itemsList .dataItem>DIV {
    display: block;
}

.searchResult .itemsList .dataItem .name {
    position   : relative;
    top        : unset;
    bottom     : unset;
    left       : unset;
    height     : unset;
    margin-top : 0px;
    padding-top: 5px;
    margin-left: 10px;
    width      : 58%;
    /*
    @media @mobile {

        padding-top: 10px;
    }
*/
}


.searchResult .itemsList .dataItem .itemsDateRange,
.searchResult .itemsList .dataItem .extras {
    width  : 58%;
    display: block;
}

.searchResult .itemsList .dataItem .itemsDateRange {
    position      : static;
    color         : @button-color;
    font-size     : 16px;
    margin-left   : 10px;
    text-align    : left;
    padding-bottom: 15px;
}

.searchResult .itemsList .dataItem .itemsDataContainer .description {
    visibility: visible;
    opacity   : 1;
}

.searchResult .itemsList .dataItem .previewFull,
.searchResult .itemsList .dataItem .itemsDataContainer .description {
    display: none;
}

.searchResult .itemsList .innerdescription {
    display: block;
}
























.itemsDataContainer::after, .itemsDataContainer::before {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-back.svg);
    width: 65px;
    content: "";
    height: 80px;
    position: absolute;
    top: 5px;
    right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.itemsDataContainer::after {
    background-image: url(https://thelowry.com/themes/childtheme/assets/images/green-triangle-front.svg);
}







.template-TemplateFull .screen-content {

    display: inline-block;
    float: none;

    @media @mobile {

        margin-top: 300px;
        display: block;
        width: 100%;
        max-width: 100%;
    }

    @media @desktop {
        margin-top: 0;
        max-width: 55%;
        display: inline-block;

    }
    @media @desktop-large {
        max-width: 70%;
    }


}


.template-TemplateFull #group_left {

    float: none;
    margin: 30px 0 0 0;
    vertical-align: top;

    @media @mobile {

        position: absolute;
        top: 100px;
        left: 0;

        display: block;
        width: 100%;
        max-width: 100%;
    }

    @media @desktop {
        position: relative;
        width: 35%;
        display: inline-block;
    }

    @media @desktop-large {
        width: 20%;

    }
}

div#PH_Search_results {

    display: inline-block;
    float: none;
    margin: 0;
    clear: unset;
}








html.appearance .eventsCalendar .ui-datepicker-year, 
html.appearance .eventsCalendar .ui-datepicker-month {
    background: none;
    background-color: @button-color;
    color: @background-color;
    padding: 4px;

    &:hover,
    &:active,
    &:focus {
        background-color: @button-hover-color;
    }
}

.eventsCalendar .ui-datepicker .ui-datepicker-header a {

    color: @font-dark-color;
}

.eventsCalendar .ui-datepicker th {

    font-size: larger;
    border: 1px solid @box-bgcolor;
    border-width: 1px 0 0 0;

}

.eventsCalendar .ui-datepicker, .eventsCalendar .ui-datepicker-calendar {

    background: @background-color;
    padding: 0;
}

.eventsCalendar .ui-datepicker-header {

    background-color: @background-color;
    border-radius: 0px;
    box-shadow: none;
    color: @font-dark-color;
}

.ui-widget {

    font-size: 15px;
}

.eventsCalendar .ui-widget-header {

    border: none;
    background:none;
    color: @font-dark-color;
}

.eventsCalendar .ui-datepicker td span, 
.eventsCalendar .ui-datepicker td a {

    background-color: @button-color;
    color: @background-color;
    opacity: .5;
    padding: 10px 4px;
}


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {

    border: none;
    background: none;
}


.eventsCalendar a.ui-state-default, 
.eventsCalendar .ui-widget-content a.ui-state-default {
    background: none;

    background-color: @button-color;
    color: @background-color;

    &:hover,
    &:active,
    &:focus {
        background-color: @button-hover-color;
    }
}

.eventsCalendar .ui-state-disabled.ui-datepicker-today SPAN.ui-state-default, 
.eventsCalendar .ui-widget-content .ui-state-disabled.ui-datepicker-today SPAN.ui-state-default {

    background: none;
    background-color: @button-color;
    color: @background-color;
    opacity: .75;
}

.eventsCalendar .ui-datepicker td.hasEvents a.ui-state-default {

    opacity: 1;

    &:hover,
    &:active,
    &:focus {
        background-color: @button-hover-color;
    }
}


.qtip.eventsCalendar-tooltip {
    border-bottom: 2px @font-dark-color solid;
}







