@import 'variables';
@import '../master-template/Confirmation';




div#PH_breadcrumbs {

    margin: 110px auto 0 5%;

    @media @mobile {

        margin: 175px auto 15px 5%;
    }

    @media @desktop {

        margin: 85px auto 0 auto;
        padding: 25px 25px 15px 25px;
    }

    
}



.screen-content {

    @media @desktop {

        margin-top: 0px;
        padding: 0px 25px 25px 25px;
    }

    @media @mobile {

        margin-top: 150px;
    }


}
