@import 'variables';
@import '../master-template/LoginOrRegisterDlg';





.loginOrRegisterWizard .loginControl > DIV.external {

    display: block;
}

.loginOrRegisterWizard .linkToAlternative {

    padding-top: 8%;
}

.fb-login-custom .icon::before {

    right: 6px;
}

.exLogin-button {
    display: inline-block;
}